{% extends 'base.html' %}

{% block content %}
<div class="columns is-vcentered">
  <div class="login column is-4 ">
    <section class="section">
      <form method="POST" action="{{ url_for('login') }}">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-right">
            <input name="email" class="input" type="email">
            <span class="icon is-small is-right">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-right">
            <input name="password" class="input" type="password">
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
        <div class="has-text-centered">
          <button class="button is-vcentered is-primary is-outlined">Login</button>
        </div>
        <div class="has-text-centered">
          <a href="signup.html"> Don't you have an account? Sign up now!</a>
        </div>
      </form>
    </section>
  </div>
  <div class="interactive-bg column is-8">
  </div>
</div>
{% endblock %}