{% extends 'base.html' %}

{% block title %}{{ session["user"] }}'s recipes{% endblock %}

{% block content %}
{% include '_partials/navbar.html' %}
<section class="section">
  <h1 class="is-size-2 has-text-centered mb-6">Welcome {{ session["user"] }}</h1>
  <div class="columns is-multiline main-section">
    {% for recipe in recipes %}
      {% include '_partials/card.html' %}
    {% else %}
      <p>Looks like you haven't created any recipes yet. Why not <a href="{{ url_for('add_recipe') }}">create one</a>?</p>
    {% endfor %}
  </div>
</section>
{% endblock %}