.main-section {
  margin: 0 12.5% !important;
}

.hero.is-success .tabs.is-boxed li.is-active a {
  color: #48c774 !important;
}

.interactive-bg {
  height: 100vh;
  background-color: #00d1b2;
  -webkit-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
  -moz-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
  box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
  padding: 0px;
}

.input {
  border-radius: 50px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 150px;
}

.login-logo {
  margin: 0 auto;
  margin-bottom: 50px;
  max-height: 100px;
}

.columns {
  margin: 0px;
}

.divider {
  border-top: 1px solid #00d1b2;
}

.card {
  height: 650px !important;
}

@media (max-width: 769px) {
  .interactive-bg {
    display: none;
  }
}
