{% extends 'base.html' %}

{% block title %}Welcome to Cookbook!{% endblock %}

{% block content %}
<section class="hero is-success is-fullheight">
  <div class="hero-head">
    {% include '_partials/navbar.html' %}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <form method="POST" action="{{ url_for('search') }}">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-large" name="query" type="text" placeholder="Find a recipe" />
          </div>
          <div class="control">
            <button class="button is-info is-large">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Feaured</a>
          </li>
          <li>
            <a>Modifiers</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="section is-large">
  <h1 class="title">Featured</h1>
  <h2 class="subtitle">
    A glimpse into our delicious recipes!
  </h2>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
{% endblock %}
